.reactive-canvas svg {
  background-color: $primary;
}

.reactive-canvas .canvas-circle {
  fill: $secondary;
}

/* Invert canvas/circles color on print */
@media print {
  .reactive-canvas svg {
    background-color: $secondary;
  }

  .reactive-canvas .canvas-circle {
    fill: $primary;
  }
}
