/* Hide controls on print */
@media print {
  .canvas-control {
    display: none;
  }
}

.canvas-control {
  width: 275px;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #fff;
  border: 1px solid #4c6c88;
  font-size: 12px;
  border-radius: 5px;
}

.canvas-control h3 {
  color: #fff;
  background-color: #4c6c88;
  margin: 0;
  padding: 5px 15px;
  font-size: 16px;
  font-weight: bolder;
}

.canvas-control p {
  margin: 5px;
  font-size: 13px;
  font-weight: bold;
}

.canvas-control ul {
  padding-left: 20px;
}
