.reactive-canvas svg {
  background-color: $primary;
}

.canvas-circle {
  fill: $secondary;
}


@media print {
  .reactive-canvas svg {
    background-color: $secondary;
  }

  .canvas-circle {
    fill: $primary;
  }
}
